<div class='container'>

  <div id="map" style="height: 600px; width: 100%;" class="text-center"></div>

</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap">
</script>
<script>
  var marker = [];
  var infoWindow = null;
  var activeWindow = null;
  function initMap() {
    var boundary = {
      north: 33.35152, // 北側の緯度
      south: 33.26045, // 南側の緯度
      east: 131.51290, // 東側の経度
      west: 131.41873  // 西側の経度
    };

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: { lat: 33.30777, lng: 131.47248 }
      });

      var markers = [];

      <% @spas.each do |spa| %>
        var marker_<%= spa.id %> = new google.maps.Marker({
          position: { lat: <%= spa.lat %>, lng: <%= spa.lng %> },
          map: map,
          title: `<%= spa.name %><br />
          <%= spa.address %>,`
          
        });

        markers.push(marker_<%= spa.id %>);

        const request_<%= spa.id %> = {
          placeId: '<%= spa.place_id %>',
          fields: ['photos']
        };

        marker_<%= spa.id %>.addListener('click', function() {
          var infowindow = new google.maps.InfoWindow();
          const request = {
            placeId: '<%= spa.place_id %>',
            fields: ['photos']
          };

          const service = new google.maps.places.PlacesService(map);
          service.getDetails(request, function(place, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK && place.photos) {
              var photoUrl = place.photos[<%= spa.photo_no %>].getUrl({ maxHeight: 150, maxWidth: 220 });
              infowindow.setContent(`<div><img src="${photoUrl}" alt="施設写真" class="card-img-top" ><strong><%= spa.name %></strong><br /><%= spa.address %><br /></div>`);
              infowindow.open(map, marker_<%= spa.id %>);
            }
          });
        });
      <% end %>
    }

</script>