<header>
  <div class='header'>
    <nav class='navbar navbar-expand-lg navigation navbar-dark'>

      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'logo.png', size: "50x50"%>
      <% end %>
      <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse justify-content-end' id='navbarSupportedContent'>
        <ul class='navbar-nav ml-auto main-nav align-items-center me-4'>
            <li class='nav-item'>
              <%= link_to '質問から探す', question_path, class: 'nav-link' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'リストから探す', spas_path, class: 'nav-link' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'マップから探す', '#', class: 'nav-link' %>
            </li>
        </ul>
      </div>
    </nav>
  </div>
</header>