<div class='row mb-4'>
  <%= search_form_for @q, url: url do |f| %>
    <div class="input-group row">
      <div class='col-sm-6'>
        <%= f.search_field :name_cont, class: 'form-control', placeholder: '温泉名を入力' %>
      </div>
      <div class='col-sm-6'>
        <%= f.select :spring_quality_eq, Spa.spring_qualities_i18n.invert.map{|key, value| [key, Spa.spring_qualities[value]]}, { include_blank: "泉質" }, class: 'form-control form-select' %>
      </div>
      <div class='col-sm-6'>
        <%= f.select :have_family_bath_eq, [['貸切湯あり', true], ['貸切湯なし', false]], { include_blank: "貸切湯" }, class: 'form-control form-select' %>
      </div>
      <div class='col-sm-6'>
        <%= f.select :place_eq, Spa.places_i18n.invert.map{|key, value| [key, Spa.places[value]]}, { include_blank: "別府八湯" }, class: 'form-control form-select' %>
        <div class="input-group-append">
          <%= f.submit '検索', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>