<div class="card" style="width: 20rem;">
  <div id="map"></div>
  <div class="index-spa-photo photo text-center" id="photo-<%= spa.id %>"></div>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title font-weight-bold"><%= spa.name %></h5>
    <div id="rating-<%= spa.id %>" class="text-center"></div>
    <div id="rating-photo-<%= spa.id %>" class="text-center"></div>
    <p class="card-text">泉質: <%= spa.spring_quality_i18n %><br />
       住所: <%= spa.address %><br />
       定休日: <%= spa.holiday %></p>
    <div class='mt-auto'>
      <div class='d-flex flex-row justify-content-center'>
        <%= link_to '温泉詳細', spa_path(spa), class: 'btn btn-primary' %>
        <% if logged_in? %>
          <%= render 'spas/bookmark_button', spa: spa %>
        <% end %>
      </div>
    </div>
  </div>
</div>





