<div class='col-sm-4'>
<div class="card" style="width: 20rem;">
  <div id="map"></div>
  <div id="map-<%= spa.id %>"></div>
  <div class="index-spa-photo photo text-center" id="photo-<%= spa.id %>"></div>
  <div class="card-body">
    <h5 class="card-title"><%= spa.name %></h5>
    <p>泉質: <%= spa.spring_quality_i18n %></p>
    <p>住所: <%= spa.address %></p>
    <p>定休日: <%= spa.holiday %></p>
    <%= link_to '温泉詳細', spa_path(spa), class: 'btn btn-primary' %>
  </div>
</div>
</div>




